@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(115deg, #0099a7 10%, #ffd61e 90%);
}

.top-bar {
  width: 100vw;
  height: 100px;
  background-color: #033f47;
}

#logo {
  position: absolute;
  width: 266.81px;
  height: 63px;
  left: 42px;
  top: 17px;
}

#search-area {
  position: absolute;
  width: 730px;
  height: 45px;
  left: 421px;
  top: 26px;
  border-radius: 26px;
  border: none;
  outline: none;
  padding-left: 30px;
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

#search{
  position: absolute;
  width: 24px;
  height: 24px;
  left: 1100px;
  top: 37px;
}

#login{
  position: absolute;
  width: 98.57px;
  height: 45px;
  left: 1248px;
  top: 28px;
  border-radius: 35px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

#login:hover{
  border: 3px solid #fff;
  background-color: #033f47;
  color: #fff;
  font-weight: 500;
}

#cart{
  position: absolute;
  width: 38px;
  height: 38px;
  left: 1384px;
  top: 31px;
}

#profile{
  position: absolute;
  width: 38px;
  height: 38px;
  left: 1443px;
  top: 31px;
}

.bottom-bar {
  width: 100vw;
  height: 41px;
  background-color: rgb(255, 255, 255);
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}

.bottom-bar span{
  padding-right: 43px;
}

.all{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding-left: 48px;
}

.bottom-arrow{
  position: relative;
  top: 6px;
  left: -4px;
}

.container {
  max-width: 800px;
  background: #fff;
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border-radius: 30px;
}

.container .text {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  background: -webkit-linear-gradient(
    right,
    #007e8a,
    #fad70f,
    #0297a5,
    #fff023
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container form {
  padding: 30px 0 0 0;
}

.container form .form-row {
  display: flex;
  margin: 32px 0;
}

form .form-row .input-data {
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}

form .form-row .textarea {
  height: 130px;
}

.input-data input{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.textarea textarea{

    display: block;
    width: 100%;
    height: 50%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  
}

.input-data input:focus ~ label,
.textarea textarea:focus ~ label,
.input-data input:valid ~ label,
.textarea textarea:valid ~ label {
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}

.textarea textarea {
  resize: none;
  padding-top: 10px;
}

.input-data label {
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.textarea label {
  width: 100%;
  bottom: 100px;
  background: #fff;
}

.input-data .underline {
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 100%;
}

.input-data .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-data .underline-text {
  position: absolute;
  bottom: 65px;
  height: 2px;
  width: 100%;
}

.input-data .underline-text:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline-text:before,
.textarea textarea:valid ~ .underline-text:before {
  transform: scale(1);
}

.submit-btn .input-data {
  overflow: hidden;
  height: 45px !important;
  width: 25% !important;
  position: absolute;
  left: 490px;
  border-radius: 20px;
}

.submit-btn .input-data .inner {
  height: 300%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(
    right,
    #007e8a,
    #fad70f,
    #0297a5,
    #fff023
  );
  transition: all 0.4s;
}

.submit-btn .input-data:hover .inner {
  left: 0;
}

.submit-btn .input-data input {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

@media (max-width: 700px) {
  .container .text {
    font-size: 30px;
  }
  .container form {
    padding: 10px 0 0 0;
  }
  .container form .form-row {
    display: block;
  }
  form .form-row .input-data {
    margin: 35px 0 !important;
  }
  .submit-btn .input-data {
    width: 40% !important;
  }
}

.main-footer{
  width: 100vw;
  height: 190px;
  margin-top: 180px;
  padding-top: 25px;
  background-color: #C0D6D8;
  display: flex;
  justify-content: center;
  gap: 200px;
}

.main-footer a{
  text-decoration: none;
  color: black;
}

.heading{
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.content{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.copyright{
  background-color: #627A7C;
  width: 100vw;
  height: 33px;
}

.follow img{
  padding-right: 8px;
}

.copyright p{
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding-top: 6px;
}